{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- else -%}
{%- if page.created_date and page.created_date != '' -%}First created: {{ page.created_date | date: "%B %d, %Y" }} <br> {% endif -%}
Last updated: {{ site.time | date: "%B %d, %Y"}}
{%- if site.workshop_series_name and site.workshop_series_name != '' -%}
  <p class="text-small text-grey-dk-100 mb-0"> This workshop is part of the {% if site.workshop_series_url and site.workshop_series_url != '' -%}<a target="_blank" rel="noopener noreferrer" href="{{ site.workshop_series_url }}">{{ site.workshop_series_name }}</a>{%- else -%}{{ site.workshop_series_name }}{%- endif %}</p>
{%- endif -%}
{%- if page.staff or page.student_staff -%}
  <p class="text-small text-grey-dk-100 mb-0">
    Tutorial created by&nbsp;
    {%- if page.staff -%}
      {%- for person in page.staff -%}
        {%- if person.link -%}
          <a target="_blank" rel="noopener noreferrer" href="{{ person.link }}">{{ person.name }}</a>
        {%- else -%}
          {{ person.name }}
        {%- endif -%}
        {%- unless forloop.last %}, {% endunless -%}
      {%- endfor -%}.
    {%- endif -%}
    {%- if page.student_staff -%}
      &nbsp;Additional contributions by&nbsp;
      {%- for person in page.student_staff -%}
        {%- if person.link -%}
          <a target="_blank" rel="noopener noreferrer" href="{{ person.link }}">{{ person.name }}</a>
        {%- else -%}
          {{ person.name }}
        {%- endif -%}
        {%- unless forloop.last %}, {% endunless -%}
      {%- endfor -%}.
    {%- endif -%}
  </p>
{%- endif -%}
{%- if site.license_name and site.license_url and site.license_image_url -%}
<p><a target="_blank" rel="noopener noreferrer" href="{{ site.license_url }}"><img src="{{ site.license_image_url }}" alt="{{ site.license_name }} icon" style="height:2.5em;"></a></p>
{%- else -%}
  <p><a target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en"><img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-nc-sa.svg" alt="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International icon" style="height:2.5em;"></a></p>
  {%- endif -%}
{%- endif -%}